:host
{
    --border-color: rgb(95, 95, 95);
    display: inline-block;
    border: solid 1px var(--border-color);
    border-radius: 3px;
    padding: .5em;
}
@media (prefers-color-scheme: dark) 
{
    :host
    {
        --border-color: rgb(71, 71, 71);
    }
}


[part="header"]
{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: stretch;
    position: sticky;
}

[part="color-container"]
{
    display: contents;
}

[part="color"]
{
    padding: 0;
    width: 12px;
    min-height: 0;
    height: auto;
    border: solid 1px transparent;
}
[part="color"]::-moz-color-swatch 
{
    border: none;
    padding: 0;
    margin: 0;
}

[part="color"]::-webkit-color-swatch-wrapper 
{
    padding: 0;
    margin: 0;
}

[part="color"]::-webkit-color-swatch 
{
    border: none;
    padding: 0;
    margin: 0;
}

[part="tasks"]
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

[part="add-button"]
{
    margin-top: 1rem;
    margin-inline: auto;
    min-width: 100px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

:host([collapsed]) > [part="tasks"]
{
    overflow: hidden;
    height: min-content;
    height: 0;
    opacity: 0;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    border: none;
    pointer-events: none;
    user-select: none;
}

::slotted([data-drag-id])
{
    opacity: .7;
    scale: .97;
    transition: opacity 100ms ease, scale 100ms ease;
}